
<ion-view title="{{payment.cus}}">
  <ion-content class="padding"> 
            <ion-item class="item item-thumbnail-left" >
                <img src="../../pics/images.jpg">
            </ion-item> 
            <ul class="list">
    			<li class="item">
    				Payment Date : {{payment.Date}}
    			</li>
    			<li class="item">
    				Payment Method : {{payment.Pmethod}}
    			</li>
    			<li class="item">
    				Description : {{payment.des}}
    			</li>
    			<li class="item item-divider">
    				Total : Rs {{payment.Amount}}
  				</li>
			</ul>          
  </ion-content>
</ion-view>


