

<ion-view title="Payment Details">

    <ion-nav-buttons side="right"> 
        <a  class="button button-icon icon ion-plus-round" ui-sref='PaymentDetails.new-payment'></a> 
    </ion-nav-buttons>     
  
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search By Customer or Supplier" ng-model="searchKey" >
        
        </label>
        <button class="button button-clear" ng-click="cancel()">Cancel</button>
    </div>

    <ion-content class="padding">
    <br><br>
        <div class="list">
            <ion-item ng-repeat="Payment in Payments" class="item item-avatar" href="#/PaymentDetails/details/{{Payment.id}}">
             	<img src="../../pics/images.jpg">
              	<h3>{{Payment.Date}}</h3> 
              	<p> Rs {{Payment.Amount}}</p>
            </item>
    </div>
    </ion-content>
</ion-view>
