
<ion-view title="Add New Todo">
      <ion-nav-buttons side="right">  
        <a  class="button button-icon icon ion-checkmark" ui-sref='Todo.todo-list'></a>
    </ion-nav-buttons> 
  <ion-content>   
        <ul class="list">
          <label class="item item-input item-floating-label">
              <span class="input-label">Description</span>
              <input type="text" placeholder="description">
          </label>
          <label class="item item-input item-floating-label">
              <span class="input-label">Time Period</span>
              <input type="text" placeholder="Time Period">
          </label>
           <li class="item ">
              <label class="checkbox" style="float:right;">
                <input type="checkbox">
              </label>Completed
          
          </li>
  
        </ul>
  </ion-content>
</ion-view>




